<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- defer nakon sto bi se izvrsio body ucita js fajl -->
    <title>Kontakt forma</title>
</head>
<body>
    <form action="/izmenaKorisnika/{{korisnik_index}}" method="POST">

        <div style="border: 1px solid; display: block">
            <label for="name"> Ime: </label> <input type="text" id="name" name="ime" value="{{korisnik['ime']}}"><br>
            <label for="prezime"> Prezime: </label> <input type="text" id="prezime" name="prezime" value="{{korisnik['prezime']}}"><br>
            <label for="email"> E-mail: </label> <input type="email" id="email" name="email" value="{{korisnik['email']}}"><br>
            <label for="datumRodjenja"> Datum rodjenja: </label> <input type="date" id="datumRodjenja" name="datumRodjenja" value="{{korisnik['datum_rodjenja']}}"><br>
            <input type="submit" value="Izmeni korisnika!" style="background-color: cornflowerblue;"><br>
        </div>

    </form>
</body>
</html>