<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <style>
        .obrisano {
            color: red;
        }
    </style>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Rd.br</td>
                <td>Ime</td>
                <td>Datum Rodjenja</td>
                <td>Aktivan</td>
                <td>Izmeni</td>
            </tr>
        </thead>
        <tbody>
            {% for korisnik in korisnici %}
            {% if korisnik['aktivan'] %}
            <tr {% if not korisnik['aktivan'] %}class="obrisano"{% endif %}>
                <td>{{loop.index}}</td>
                <td>{{korisnik["ime"]}}</td>
                <td>{{korisnik["datum_rodjenja"]|date}}</td>
                <td><a href="/ukloniKorisnika/{{loop.index}}">Ukloni</a></td>
                <td><a href="/izmeniKorisnika/{{loop.index}}">Izmeni</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>