<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">R. br.</th>
                <th scope="col">Datum</th>
                <th scope="col">Kolicina</th>
                <th scope="col">Korisnicko ime</th>
                <th scope="col">Stavka</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trebovanje in tc.trebovanja">
                <th scope="row">{{$index+1}}</th>
                <td>{{trebovanje.datum}}</td>
                <td>{{trebovanje.kolicina}}</td>
                <td>{{trebovanje.korisnici_username}}</td>
                <td>{{trebovanje.stavke_id}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="tc.ukloniTrebovanje(trebovanje.id)">obrisi</button>
                    <a ui-sref="trebovanje({id: trebovanje.id})" class="btn btn-primary">detaljnije</a>
                    <a ui-sref="trebovanje({id: trebovanje.id})" class="btn btn-primary">izmeni</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <form ng-submit="tc.dodajTrebovanje()">
                <label for="">Dodaj novo trebovanje: </label>
                <div class="form-group">
                    <label for="stavka">Stavka: </label>
                    <select class="form-control" name="stavka" id="stavka" ng-model="tc.novoTrebovanje.stavke_id">
                        <option value="{{stavka.id}}" ng-repeat="stavka in tc.stavke">{{stavka.naziv}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="korisnik">Korisnici: </label>
                    <select class="form-control" name="korisnik" id="korisnik" ng-model="tc.novoTrebovanje.korisnici_username">
                        <option value="{{korisnik.username}}" ng-repeat="korisnik in tc.korisnici">{{korisnik.ime}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="kolicina">Kolicina: </label>
                    <input type="number" class="form-control" name="kolicina" id="kolicina" value="0" min="0" ng-model="tc.novoTrebovanje.kolicina">
                </div>
                <div class="form-group">
                    <label for="datum">Datum: </label>
                    <input type="date" class="form-control" name="datum" id="datum" ng-model="tc.novoTrebovanje.datum" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
        <div class="col-md-6">
            <form ng-submit="tc.dobaviTrebovanja()">
                <label for="">Pretrazi: </label>
                <div class="form-group">
                    <label for="korisnickoIme">Korisnicko ime: </label>
                    <input type="text" class="form-control" name="korisnickoIme" id="korisnickoIme" aria-describedby="naziv" placeholder="Unesite korisnicko ime" ng-model="tc.pretraga.username">
                </div>
                <div class="form-group">
                    <label for="idStavke">Id stavke: </label>
                    <input type="number" class="form-control" name="idStavke" id="idStavke" aria-describedby="naziv" min="0" value="0" ng-model="tc.pretraga.stavka_id">
                </div>
                <div class="form-group">
                    <label for="kolicinaOd">Kolicina od: </label>
                    <input type="number" class="form-control" name="kolicinaOd" id="kolicinaOd" min="0" value="0" aria-describedby="naziv" ng-model="tc.pretraga.kolicinaOd">
                </div>
                <div class="form-group">
                    <label for="kolicinaDo">Kolicina do: </label>
                    <input type="number" class="form-control" name="kolicinaDo" id="kolicinaDo" max="1000" value="1000" aria-describedby="naziv" ng-model="tc.pretraga.kolicinaDo">
                </div>
                <div class="form-group">
                    <label for="datumOd">Datum od: </label>
                    <input type="date" class="form-control" name="datumOd" id="datumOd" ng-model="tc.pretraga.datumOd">
                </div>
                <div class="form-group">
                    <label for="datumDo">Datum do: </label>
                    <input type="date" class="form-control" name="datumDo" id="datumDo" ng-model="tc.pretraga.datumDo">
                </div>
                <button type="submit" class="btn btn-primary">Filtriraj</button>
            </form>
        </div>
    </div>

</div>