<div>
    <table class="table">
        <thead>
          <tr>
            <th>R. br.</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisnicko ime</th>
            <th>Emaiil</th>
            <th class="text-right">Akcija</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="korisnik in kc.korisnici">
            <td>{{$index+1}}.</td>
            <td>{{korisnik.ime}}</td>
            <td>{{korisnik.prezime}}</td>
            <td>{{korisnik.korisnicko_ime}}</td>
            <td>{{korisnik.email}}</td>
            <td class="text-right">
              
            <button type="button" class="btn btn-primary" ng-click="kc.obrisiKorisnika(korisnik.korisnicko_ime)">delete</button>
              <!-- <button class="btn btn-danger btn-sm" ng-click="kc.ukloniRobu(stavka.id)"><i class="fas fa-trash-alt"></i> Ukloni</button> -->
              <!-- Direktivno ui-sref kreira se link za prelazak na zadato stanje. -->
              <!-- Moguce je navesti samo naziv stanja, ali ukoliko je stanju neophodno
                    proslediti parametre u zagradama iza naziva stanja se navodi objekat
                    koji sadrzi nazive parametara, predstavljenje kljucevima, i vrednosti
                    tih parametara, predstavljene vrednostima na datim kljucevima. -->
              <a ui-sref="korisnik({korisnicko_ime: korisnik.korisnicko_ime})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i> Detalji</a>
              <!-- <a ui-sref="korisnici({korisnicko_ime: korisnik.korisnicko_ime})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i> Delete</a> -->
            </td>
          </tr>
        </tbody>
      </table>
</div>