<div class="banner-information-strip-background">
  <img src="images/logo.png">
  <!---------------LOGIN---------------------------------->
     <form class="form-signin" ng-hide="vm.autorizovan">
       <label for="inputEmail" class="sr-only">Email address</label>
       <input type="email" id="inputEmail" class="form-control" ng-model="vm.email" placeholder="Email address" required autofocus>
       <label for="inputPassword" class="sr-only">Password</label>
       <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="Password" required>
       <div class="checkbox">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>
       <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Sign in</button>
     </form>
   <!---------------LOGIN---------------------------------->
   <div ng-show="vm.autorizovan">
       <div class="col-md-12" >
         {{vm.email}}
       </div>
       <div class="col-md-12" >
         <button class="btn btn-lg btn-primary btn-block" ng-click="vm.logout()">Logout</button>
       </div>
     </div>
   </div>
</div>
