<div class="panel panel-default" ng-show="vm.student==null">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" ng-model="vm.search" class="form-control">
    </div>
  </div>
  <div class="panel-body" style="height:300px; overflow:auto;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Redni broj</th>
            <th>Index</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Grupa</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="el in vm.studenti | filter:vm.search">
            <td>{{$index+1}}</td>
            <td>{{el.indeks}}</td>
            <td>{{el.ime}}</td>
            <td>{{el.prezime}}</td>
            <td>{{el.grupa}}</td>
            <td><button type="button" class="btn btn-default btn-xs"
                  ng-click="vm.selectStudenta(el)">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>


<div class="panel panel-default" ng-hide="vm.student==null">
  <div class="panel-heading">
    Student
  </div>
  <div class="panel-body" style="height:300px; overflow:auto;">
    <input type="text" ng-model="vm.student.indeks" class="form-control">
    <input type="text" ng-model="vm.student.ime" class="form-control">
    <input type="text" ng-model="vm.student.prezime" class="form-control">
    <input type="text" ng-model="vm.student.grupa" class="form-control">
    <button class="btn btn-lg btn-primary btn-block" ng-click="vm.save()">Sačuvaj</button>
  </div>
</div>
