<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" ng-model="vm.search" class="form-control"></div>
  </div>
  <div class="panel-body" style="height:300px; overflow:auto;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Redni broj</th>
            <th>Index</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Grupa</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="el in vm.studenti | filter:vm.search">
            <td>{{$index+1}}</td>
            <td>{{el.indeks}}</td>
            <td>{{el.ime}}</td>
            <td>{{el.prezime}}</td>
            <td>{{el.grupa}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
