<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izmena Korisnika</title>
</head>
<body>
    <form action="/izmeni/{{index}}" method="POST">
        <label for="ime">Ime:</label> <input type="text" id="ime" name="ime" value="{{korisnik['ime']}}"> <br>
        <label for="prezime">Prezime:</label> <input type="text" id="prezime" name="prezime" value="{{korisnik['prezime']}}"> <br>
        <label for="email">Email:</label> <input type="email" id="email" name="email" value="{{korisnik['email']}}"> <br>
        <label for="lozinka">Lozinka:</label> <input type="password" id="lozinka" name="lozinka" value="{{korisnik['lozinka']}}"> <br>
        <label for="datumRodjenja">Datum rodjenja:</label> <input type="date" id="datumRodjenja" name="datumRodjenja" value="{{korisnik['datum_rodjenja']}}"> <br>
        <input type="submit" name="submit" id="submit" value="Izmeni">
    </form>
    
</body>
</html>