<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Korisnici</title>
    <link rel="stylesheet" href="korisnici.tpl.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum Rodjenja</th>
                <th>Aktivan</th>
                <th>Izmeni podatke</th>
                <th>Ukloni korisnika</th>
            </tr>
        </thead>

        <tbody>
            {% for korisnik in korisnici %}
            {% if korisnik["aktivan"] %}
            <tr>
                <td>{{korisnik["ime"]}}</td>
                <td>{{korisnik["prezme"]}}</td>
                <td>{{korisnik["datum_rodjenja"]|date}}</td>
                <td {% if not korisnik['aktivan'] %} id = "nijeAktivan" {% endif %}>{{korisnik["aktivan"]}}</td>
                <td><a href="/izmenaKorisnika/{{loop.index-1}}">izmeni</a></td>
                <td><a href="/ukloniKorisnika/{{loop.index-1}}">ukloni</a></td>
                <!-- <td>{{korisnici[loop.index-1]["ime"]}}</td>
                <td>{{korisnici[loop.index-1]["prezme"]}}</td>
                <td>{{korisnici[loop.index-1]["datum_rodjenja"]}}</td>
                <td>{{korisnici[loop.index-1]["aktivan"]}}</td> -->
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>