<div class="container">
    <form ng-submit="uc.login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" ng-model="uc.user.username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" ng-model="uc.user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>