<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer 2</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="myApp" ng-controller="MyCtrl as vm">
    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            {{vm.poruka}}
        </div>
    </div>

    <div class="banner-information-strip-background">
        <img src="images/logo.png" alt="Logo Singidunuma">
        <!-- ---------------------LOGIN--------------------- -->
        <form class="form-signin" ng-hide="vm.ulogovan">
            <label class="sr-only" for="email">Email adresa</label>
            <input type="email" class="form-control" name="email" id="email" ng-model="vm.email" placeholder="Email adresa" required autofocus>
            <label class="sr-only" for="lozinka">Lozinka</label>
            <input type="password" class="form-control" name="lozinka" id="lozinka" ng-model="vm.lozinka" placeholder="Lozinka" required>
            <div class="checkbox">
                <label for="cekiraj">
                    <input type="checkbox" name="cekiraj" id="cekiraj" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Sign in</button>
        </form>
        <!-- ---------------------LOGIN--------------------- -->
        <!-- moje resenje -->
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="vm.ulogovan" ng-click="vm.logout()">Logout</button> -->
    
        <div ng-show="vm.ulogovan">
            <div class="col-md-12">
                {{vm.email}}
            </div>
            <div class="col-md-12">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="vm.ulogovan" ng-click="vm.logout()">Logout</button>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script>
        var app = angular.module("myApp", []);

        app.controller("MyCtrl", function($scope){
            var vm = this;
            vm.email = "";
            vm.lozinka = "";
            vm.poruka = "Trenutno niste prijavljeni na sistem!";
            vm.ulogovan = false;

            vm.login = function(){
                if(vm.lozinka == "123"){
                    vm.poruka = "Prijavljen je korisnik: " + vm.email;
                    vm.ulogovan = true;
                } else {
                    vm.poruka = "Pogresna lozinka";
                }
            };
            vm.logout = function(){
                vm.poruka = "Hvala sto ste koristili aplikaciju.";
                vm.ulogovan = false;
            };
        });
    </script>
</body>
</html>