<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer 1</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="container" ng-app="myApp" ng-controller="MyCtrl">
        <div class="col-md-offset-4 col-md-4">
            <label for="ime">Ime: </label>
            <input type="text" name="ime" id="ime" ng-model="ime"><br>
            <label for="prezime">Prezime: </label>
            <input type="text" name="prezime" id="prezime" ng-model="prezime"><br><br>
            <label for="imeIPrezime">Ime i prezime: {{ime + " " + prezime}}</label><br><br>
        </div>
    </div>

    <!-- MOZDA ZA DAVIDA -->
    <!-- <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-login">
                <label for="ime">Ime: </label>
                <input type="text" name="ime" id="ime"><br>
                <label for="prezime">Prezime: </label>
                <input type="text" name="prezime" id="prezime"><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form> 
        </div>
    </div> -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script>
        var app = angular.module("myApp", []);

        app.controller("MyCtrl", function($scope){
            $scope.ime = "";
            $scope.prezime = "";
        });
    </script>
</body>
</html>