<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Pocetna</title>
</head>
<body>

    <div class="container">
        <form action="/formaPodaci" method="POST">
            <div class="offset-md-4 col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <label for="username"></label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off" required>
                </div>
                <div class="input-group mb-3">
                    <label for="password"></label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="input-group mb-3">
                    <label for="user's email"></label>
                    <input type="text" name="user's email" id="user's email" class="form-control" placeholder="User's email" aria-label="User's email" aria-describedby="basic-addon2" autocomplete="off">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="col-md-6">
                        <label for="loginButton"></label>
                        <button type="submit" name="button" id="loginButton" value="login" class="btn btn-primary btn-md btn-block">Login</button>
                    </div>
                    <div class="col-md-6">
                        <label for="registrationButton"></label>
                        <button type="submit" name="button" id="registrationButton" value="registration" class="btn btn-primary btn-md btn-block">Registration</button>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="input-group mb-3 alert alert-primary" role="alert">
                        {% for message in messages %}
                            {{message}} {{username}}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}  
            </div>
        </form>
    </div>
    
    <!-- <div class="container-fluid">
        
    </div> -->

    <script src="scripts/index.js"></script>

</body>
</html>