<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Naziv recepta: {{recept.naziv}}</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sastojak</th>
                    <th scope="col">Kolicina</th>
                    <th scope="col">Ukloni</th>
                    <th scope="col">Izmeni</th>
                </tr>
            </thead>
            <tbody>
                {% for sastojak in recept.lista_sastojaka %}
                    {% if sastojak.aktivan == True %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{sastojak.naziv}}</td>
                            <td>{{sastojak.kolicina}}</td>
                            <td><a href="/ukloniSastojak/{{loop.index-1}}/{{recept.naziv}}">ukloni</a></td>
                            <td><a href="/izmeniSastojak/{{recept|str}}">izmeni</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>