<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Opis pripreme</th>
                    <th scope="col">Sastojci</th>
                    <th scope="col">Izmeni sastojke</th>
                </tr>
            </thead>
            <tbody>
                {% for recept in recepti %}
                    {% if recept.aktivan == True %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{recept.naziv}}</td>
                            <td>{{recept.opis}}</td>
                            <td>
                                {% for sastojak in recept.lista_sastojaka %}
                                    {% if sastojak.aktivan == True %}
                                        {{sastojak.naziv}}, {{sastojak.kolicina}}, 
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><a href="/izmeniSastojake/{{loop.index-1}}">izmeni sastojke</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>