<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>Users</title>
</head>
<body>

    <div class="container">
        <nav class="nav pb-md-5">
            <a class="nav-link active" href="/">Nazad</a>
        </nav>
        <table class="table p-md-5 pb-md-5">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.email}}@gmail.com</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/receptPodaci" method="POST" class="form-group p-md-5 pb-md-5">
            <div class="row align-items-md-start">
                <div class="offset-md-1 col-md-3">
                    <div class="form-group">
                        <label for="recept">Dodati recepti:</label>
                        <select multiple class="form-control" name="recept" id="recept">
                            {% for recept in recepti %}
                                {% if recept.aktivan == True %}
                                    <option>{{recept.naziv}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Naziv recepta:</span>
                        </div>
                        <label for="nazivRecepta"></label>
                        <input type="text" name="nazivRecepta" id="nazivRecepta" class="form-control" placeholder="Naziv recepta" aria-label="Naziv recepta" aria-describedby="basic-addon1" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="kratakOpis">Kratak opis</label>
                        <textarea class="form-control" name="kratakOpis" id="kratakOpis" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sastojak">Sastojci:</label>
                        <select multiple class="form-control" name="sastojak" id="sastojak">
                            {% for sastojak in sastojci %}
                            <option>{{sastojak}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3" id="mernaJedinicaDiv">
    
                    </div>
                    <div class="row">
                        <div class="offset-md-1 col-md-5">
                            <label for="dodajSastojak"></label>
                            <button type="submit" name="button" id="dodajSastojak" value="sastojak" class="btn btn-primary btn-md btn-block">Dodaj sastojak</button>
                        </div>
                        <div class="col-md-5">
                            <label for="dodajRecept"></label>
                            <button type="submit" name="button" id="dodajRecept" value="recept" class="btn btn-primary btn-md btn-block">Dodaj Recept</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script src="scripts/users.tpl.js"></script>
              
</body>
</html>