<div>
    <div>
        
        <div class="row">
            <div class="col-md-6">
                <form ng-submit="rc.dodajURacunar()">
                    <div class="form-group">
                        <label for="delovi">Delovi: </label>
                        <select class="form-control" name="delovi" id="delovi" ng-model="rc.deo.naziv">
                            <option value="{{komponenta.id}}" ng-repeat="komponenta in rc.racunarskeKomponente">{{komponenta.naziv}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kolicina">Kolicina: </label>
                        <input type="number" class="form-control" name="kolicina" id="kolicina" aria-describedby="naziv" min="0" value="0" ng-model="rc.deo.kolicina">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="rc.sklopi()">Sklopi</button>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>


            <!-- <div class="col-md-6">
                <form ng-submit="tc.dobaviTrebovanja()">
                    <label for="">Pretrazi: </label>
                    <div class="form-group">
                        <label for="korisnickoIme">Korisnicko ime: </label>
                        <input type="text" class="form-control" name="korisnickoIme" id="korisnickoIme" aria-describedby="naziv" placeholder="Unesite korisnicko ime" ng-model="tc.pretraga.username">
                    </div>
                    <div class="form-group">
                        <label for="idStavke">Id stavke: </label>
                        <input type="number" class="form-control" name="idStavke" id="idStavke" aria-describedby="naziv" min="0" value="0" ng-model="tc.pretraga.stavka_id">
                    </div>
                    <div class="form-group">
                        <label for="kolicinaOd">Kolicina od: </label>
                        <input type="number" class="form-control" name="kolicinaOd" id="kolicinaOd" min="0" value="0" aria-describedby="naziv" ng-model="tc.pretraga.kolicinaOd">
                    </div>
                    <div class="form-group">
                        <label for="kolicinaDo">Kolicina do: </label>
                        <input type="number" class="form-control" name="kolicinaDo" id="kolicinaDo" max="1000" value="1000" aria-describedby="naziv" ng-model="tc.pretraga.kolicinaDo">
                    </div>
                    <div class="form-group">
                        <label for="datumOd">Datum od: </label>
                        <input type="date" class="form-control" name="datumOd" id="datumOd" ng-model="tc.pretraga.datumOd">
                    </div>
                    <div class="form-group">
                        <label for="datumDo">Datum do: </label>
                        <input type="date" class="form-control" name="datumDo" id="datumDo" ng-model="tc.pretraga.datumDo">
                    </div>
                    <button type="submit" class="btn btn-primary">Filtriraj</button>
                </form>
            </div>
        </div> -->
    </div>
</div>