<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">R. br.</th>
                <th scope="col">Naziv</th>
                <th scope="col">Kolicina</th>
                <th scope="col">Opis</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stavka in sc.stavke">
                <th scope="row">{{$index+1}}</th>
                <td>{{stavka.naziv}}</td>
                <td>{{stavka.kolicina}}</td>
                <td>{{stavka.opis}}</td>
                <td>                    
                    <button type="button" class="btn btn-primary" ng-click="sc.ukloniStavku(stavka.id)">obrisi</button>
                    <a ui-sref="stavka({id: stavka.id})" class="btn btn-primary">detaljnije</a>
                    <a ui-sref="stavka({id: stavka.id})" class="btn btn-primary">izmeni</a>
                </td>
            </tr>
        </tbody>
    </table>

    <form ng-submit="sc.dobaviStavke()">
        <div class="form-group col-md-6">
            <label for="naziv">Naziv: </label>
            <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="sc.pretraga.naziv">
        </div>
        <div class="form-group col-md-12">
            <label for="kolicinaOd">Kolicina od: </label>
            <input type="number" class="form-control col-md-5" name="kolicinaOd" id="kolicinaOd" value="0" min="0" ng-model="sc.pretraga.kolicinaOd">
            <label for="kolicinaDo">Kolicina do: </label>
            <input type="number" class="form-control col-md-5" name="kolicinaDo" id="kolicinaDo" value="0" max="1000" ng-model="sc.pretraga.kolicinaDo">
        </div>
        <button type="submit" class="btn btn-primary">Filtriraj</button>
    </form>
</div>