<div>
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{epc.username}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-clock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-bookmark"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="fas fa-list-ul"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" ng-click="epc.goSearch()"><i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="mr-md-5 ml-auto nav-link p-2"><i class="fas fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </div>
    <hr>

    <div class="mb-5 container">
        <form ng-submit="epc.submit()">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" ng-model="epc.user.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter new email">
            </div>
            <div class="form-group">
                <label for="fullName"></label>
                <input type="text" ng-model="epc.user.realName" class="form-control" id="fullName" placeholder="Full new name">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" ng-model="epc.user.password" class="form-control" id="password" placeholder="New password">
            </div>
            <div class="form-group">
                <label for="country">Country: </label>
                <select class="form-control" name="country" id="country" ng-model="epc.country">
                    <option value="{{country.country_id}}" ng-repeat="country in epc.countries">{{country.name}}</option>
                </select>
            </div>
            <div ng-if="epc.isCountrySelected()" ng-click="epc.getStates()" class="form-group">
                <label for="state">State: </label>
                <select class="form-control" name="state" id="state" ng-model="epc.state">
                    <option value="{{state.state_id}}" ng-repeat="state in epc.states">{{state.name}}</option>
                </select>
            </div>
            <div ng-if="epc.isStateSelected()" ng-click="epc.getCities()" class="form-group">
                <label for="city">City: </label>
                <select class="form-control" name="city" id="city" ng-model="epc.user.cityId">
                    <option value="{{city.city_id}}" ng-repeat="city in epc.cities">{{city.name}}</option>
                </select>
            </div>
            <div ng-click="epc.getGenders()" class="form-group">
                <label for="gender">Gender: </label>
                <select class="form-control" name="gender" id="gender" ng-model="epc.user.genderId">
                    <option value="{{gender.gender_id}}" ng-repeat="gender in epc.genders">{{gender.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday: </label>
                <input type="date" ng-model="epc.birthDate" class="form-control" id="birthday">
            </div>
            <div class="form-group">
                <label for="oldPassword"></label>
                <input type="password" ng-model="epc.oldPassword" class="form-control" id="oldPassword" placeholder="Old password" required>
            </div>
            <div class="mb-5 col-md-3">
                <button type="submit" class="btn btn-light btn-block"><i class="fas fa-pen"></i></button>
            </div>
        </form>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="epc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="epc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="epc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="epc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>