<div>
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{fc.username}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-clock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-bookmark"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="fas fa-list-ul"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" ng-click="fc.goSearch()"><i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="mr-md-5 ml-auto nav-link p-2"><i class="fas fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </div>
    <hr>

    <div class="offset-md-1 col-md-10">
        <h5 class="col-md-1 font-weight-bold">Followers</h5>
    </div>
    <div class="offset-md-2 col-md-8">
        <div class="p-2 col-md-12" style="line-height: 6em; width: 100%; text-align: center;" ng-repeat="follower in fc.followers">
            <img ng-click="fc.seeAccount(follower.user_id)" src="{{follower.icon_url}}" class="rounded-circle float-left" alt="format nije dobar" style="display: inline-block; border: 1px solid #808080; min-height: 2em; max-width: 2em; cursor: pointer;">
            <h5 class="p-2 font-weight-bold float-left" style="display: inline-block;">{{follower.username}}</h5>
            <h5 class="p-2 float-left" style="display: inline-block;">is following</h5>
            <h5 class="p-2 float-left" style="display: inline-block;"> date: {{follower.date_created}}</h5>
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="fc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>