<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Naziv recepta: {{recept["naziv"]}}</title>
</head>
<body>
    <div style="position: absolute; width: 100%">
        <div style="position: absolute; width: 32%; border-right: 1px solid black">
            <h3>Naziv recepta: {{recept["naziv"]}}</h3>
        </div>
        <div style="position: absolute; width: 32%; left: 34%; border-right: 1px solid black">
            {% if recept["lista_sastojaka"]|dozvola_za_listu %}
                <h3>Sastojci: </h3>
                {% for sastojak in recept["lista_sastojaka"] %}
                    <h3>- {{sastojak["naziv"]}}, {{sastojak["gramaza"]}} g</h3>
                {% endfor %}
            {% else %}
                <h3>Nema sastojaka</h3>
            {% endif %}
        </div>
        <div style="position: absolute; width: 32%; right: 0%">
            <h3>Opis pripreme: {{recept["opis"]}}</h3>
        </div>
    </div>
    <br><br>
    <a href="/" style="position: relative; left: 2%; top: 25em">Dodaj recept ili sastojak</a>
</body>
</html>