<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sve Forme</title>
</head>
<body>
    <!-- PAZNJA!!! -->
    <!-- FORMA KUPI KLJUCEVE IZ ATRIBUTA NAME!!! -->
    <!-- labela i input ili text-area ili sta god su spojeni preko for i id -->
    <form action="/dodaj" method="POST">
        <!-- Recept -->
        <label for="naziv">Naziv recepta: </label><input type="text" name="naziv" id="naziv" required><br><br>
        <label for="opis">Opis recepta: </label> <br> <textarea name="opis" id="opis" cols="30" rows="10" required></textarea><br><br>

        <!-- Sastojak -->
        <label for="sastojak">Sastojak: </label>
        <select name="sastojak" id="sastojak">
            {% for sastojak in sastojci %}
            <option value="{{sastojak['naziv']}}">{{sastojak["naziv"]}}</option>
            {% endfor %}
        </select><br><br>
        <label for="gramaza">Gramaza: </label><input type="number" min="0" value="0" name="gramaza" id="gramaza"><br><br><br>
        <label for="dodajSastojak"></label><input type="submit" name="dodaj" id="dodajSastojak" value="Ubaci sastojak u recept">

        <!-- Submit -->
        <label for="dodajRecept"></label><input type="submit" name="dodaj" id="dodajRecept" value="Dodaj recept"><br><br>
    </form><br><br>

    <form action="/tabelaPrikazRecepata">
        <label for="prikaziRecepte"></label><input type="submit" name="dodaj" id="prikaziRecepte" value="Prikazi recepte"><br><br>
    </form>
</body>
</html>