<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela Recepata</title>
</head>
<body>
    {% if recepti|dozvola_za_listu %}
        <table border="1" style="text-align: center">
            <thead>
                <tr>
                    <th>Naziv recepta</th>
                    <th>Opis recepta</th>
                    <th>Sastojci i gramaza</th>
                    <th>Pogledaj detaljnije</th>
                    <th>Ukloni</th>
                </tr>
            </thead>

            <tbody>
                {% for recept in recepti %}
                    {% if recept["aktivan"] == True %}
                        <tr>
                            <td rowspan="{{recept['lista_sastojaka']|duzina}}">{{recept["naziv"]}}</td>
                            <td rowspan="{{recept['lista_sastojaka']|duzina}}">{{recept["opis"]}}</td>
                            <td>
                                {% if recept["lista_sastojaka"]|duzina != 0 %}
                                    {{recept["lista_sastojaka"][0]["naziv"]}}, {{recept["lista_sastojaka"][0]["gramaza"]}} grama
                                {% else %}
                                    Nema sastojaka
                                {% endif %}    
                            </td>
                            <td rowspan="{{recept['lista_sastojaka']|duzina}}"><a href="/formaZaDetaljnije/{{loop.index-1}}">detaljnije</a></td>
                            <td rowspan="{{recept['lista_sastojaka']|duzina}}"><a href="/ukloniRecepat/{{loop.index-1}}">ukloni</a></td>
                        </tr>
                        {% for i in range (1, recept["lista_sastojaka"]|duzina)%}
                            <tr>
                                <td>
                                    {{recept["lista_sastojaka"][i]["naziv"]}}, {{recept["lista_sastojaka"][i]["gramaza"]}} grama
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1> Lista recepata je prazna </h1>
    {% endif %}
    <br><br>
    <a href="/">Dodaj recept ili sastojak</a>
</body>
</html>