<!-- Neama potrebe za eksplicitnim uvezivanjem AngularJS kontrolera za element. -->
<!-- Ui router ce ga sam injektovati. -->
<div>
    <!-- Unutar ovog elementa je moguce pristupati svim atributima kontrolera. -->
    <div class="mb-3">
        <!-- U atributu ng-submit navodi se izraz koji treba izvrsiti ukoliko
                             dodje do dogadjaja prosledivanja sadrzaja forme (submit). U ovom
                             slucaju vrsi se pozivanje funkcije dodajRobu iz kontrolera mc.-->
        <form ng-submit="mc.dodajRobu()">
            <div class="form-group">
                <label for="naziv">Naziv</label>
                <!-- U atributu ng-model se navodi objekat kontrolera koji se uvezuje na zadati view
                                     poput input polja. Izmene nad zadatim objektom su automatski vidljive u view-u.
                                     Takodje izmena view-a automatski vrsi izmenu modela, odnosno zadatog objekta.
                                     Za objekte navedene u ng-model atributu prate se izmene zadatog objekta, tj.
                                     reference na objekat, a ne njegovih atributa, ovo znaci da je u slucaju promene
                                     vrednosti atributa neophodno promeniti referencu na objekat ili implementirati
                                     drugaciji mehanizam za pracene izmena kako bi se view-ovi pravilno azurirali.
                                     U ovom primeru prate se direktno atributi objekta novaRoba koji predstavljaju
                                     primitivne vrednosti pa nije doslo do prethodno navedenog problema. -->
                <input type="text" class="form-control" id="naziv" placeholder="Naziv" ng-model="mc.novaRoba.naziv"
                    required>
            </div>
            <div class="form-group">
                <label for="kolicina">Količina</label>
                <input type="number" class="form-control" id="kolicina" placeholder="Količina" ng-model="mc.novaRoba.kolicina"
                    required>
            </div>
            <input type="submit" class="btn btn-primary" value="Dodaj">
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>R. br.</th>
                <th>Naziv</th>
                <th>Količina</th>
                <th class="text-right">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <!-- Atributom ng-repeat vrsi se ponavljajuce generisanje elementa tr. -->
            <!-- Element tr se generise za svaki objekat iz kolekcije roba u kontroleru mc.-->
            <!-- U toku izvrsavanja ove petlje bice dostupne sve promenljive vezane za petlju. -->
            <tr ng-repeat="stavka in mc.roba" ng-class="{'text-danger': stavka.kolicina < 100}">
                <!-- U atribut ng-class navodi se izraz koji odredjuje koja ce CSS klasa
                                     biti primenjena nad datim elementom. Izaraz moze biti predstavljen objektom
                                     ciji su kljucevi nazivi klasa a vrednosti izrazi cija vrednost odredjuje da li
                                     ce zadata klasa biti primenjena nad elementom. Ukoliko je vrednost zadatog izraza
                                     true, izraz se primenjuje nad objektom. U ovom slucaju klasa text-danger ce biti
                                     primenjena ukoliko je kolicina posmatrane stavke manja od 100 komada. -->
                <!-- Izraz oblika {{ }} predstavlja interpolaciju. -->
                <!-- Interpolacija vrsi jednosmerno uvezivanje promenljivih. -->
                <!-- Interpolacijom se vrsi prikazivanje rezultata izraza navedenog unutar interpolacije. -->
                <!-- Specijalna promenljiva $index je promenljiva koja zivi u ng-repeat
                                     kontekstu i sadrzi ternutni redni broj iteracije. Brojanje iteracija pocinje od 0. -->
                <td>{{$index+1}}.</td>
                <td>{{stavka.naziv}}</td>
                <td>{{stavka.kolicina}}</td>
                <!-- Atribut ng-click na dogadjaj klika izvrsava zadati izraz. -->
                <!-- U ovom slucaju poziva funkciju ukloniRobu iz kontrolera mc sa prosledjenim
                                     argumentom okoji predstavlja indeks elementa koji treba ukloniti. -->
                <td class="text-right">
                    <button class="btn btn-danger btn-sm" ng-click="mc.ukloniRobu(stavka.id)"><i class="fas fa-trash-alt"></i> Ukloni</button>
                    <!-- Direktivno ui-sref kreira se link za prelazak na zadato stanje. -->
                    <!-- Moguce je navesti samo naziv stanja, ali ukoliko je stanju neophodno
                         proslediti parametre u zagradama iza naziva stanja se navodi objekat
                         koji sadrzi nazive parametara, predstavljenje kljucevima, i vrednosti
                         tih parametara, predstavljene vrednostima na datim kljucevima. -->
                    <a ui-sref="stavka({id: stavka.id})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i> Detalji</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>