<div>
    <ul>
        <li>Naziv: {{sc.stavka.naziv}}</li>
        <li>Količina: {{sc.stavka.kolicina}}</li>
    </ul>

    <!-- Direktivno ui-sref kreira se link za prelazak na zadato stanje. -->
    <!-- Stanje na koje je potrebno preci se navodi po nazivu. -->
    <a ui-sref="home" ui-sref-active="active" class="btn btn-primary">Nazad</a>
</div>