.banner-information-strip-background {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -ms-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    background-color: rgba(6,21,47,.62);
    min-height: 920px;
    padding: 20px 10px 15px;
    position: absolute;
    height: 100%;
    width: 260px;
    bottom: 0;
    right: 0;
    top: 0;
    transition: .5s;
}


.login_form{
  padding: 10px 10px 10px;
  position: absolute;
  width: 300pt;
  height: 200pt;
  left: 200pt;
  top: 100pt;
}

.table_head {
    padding: 4pt;
    font-weight: bold;
    background-color: #ccc;
}

.table_row {
    padding: 4pt;
    border-bottom: 1px solid #ccc;
}

.table_row:hover {
    background-color: #eee;
}


/******** side-bar **********/
.menu-sidebar {
		width:300px;
    background-color: rgba(6,21,47,.62);
    z-index: 11;
		position: fixed;
		right:0px;
		height: 100%;
		padding: 10px;
		color: black;
		border-left: solid black 1px;
}

.open-menu-sidebar {
    right:0px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
.close-menu-sidebar {
    right:-300px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
