<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
      <div class="col-md-4 col-md-offset-4" ng-hide="vm.autorizovan">
        {{vm.message}}
      </div>

      <ol class="breadcrumb" ng-show="vm.autorizovan">
        <li ng-repeat="el in vm.breadcrumb"><a ng-click="vm.call(el)">{{el.label}}</a></li>
      </ol>

      <div class="col-md-8 col-md-offset-2" ng-show="vm.autorizovan"
        ng-include=" 'parts/studenti11.html'">
      </div>
    </div>

    <ng-include src=" 'parts/login.html' "></ng-include>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script src="primer11.js"></script>

  </body>
</html>
