<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
      <div class="col-md-4 col-md-offset-4" >

        {{vm.message}}

      </div>
      <div class="col-md-8 col-md-offset-2" ng-show="vm.autorizovan">
        <input type="text" ng-model="vm.search" class="form-control">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Predmet</th>
                <th>Profesor</th>
                <th>Asistent</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="el in vm.predmeti | filter:vm.search"
                  ng-click="vm.selectProfesora(el)">
                <td>{{el.naziv}}</td>
                <td>{{el.profesor}}</td>
                <td>{{el.asistent}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2" ng-show="vm.autorizovan">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Obaveštenje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="el in vm.profesor.obavestenja">
              <td>{{el.datum}}</td>
              <td>{{el.obavestenje}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


    <div class="banner-information-strip-background">
      <img src="images/logo.png">
      <!---------------LOGIN---------------------------------->
         <form class="form-signin" ng-hide="vm.autorizovan">
           <label for="inputEmail" class="sr-only">Email address</label>
           <input type="email" id="inputEmail" class="form-control" ng-model="vm.email" placeholder="Email address" required autofocus>
           <label for="inputPassword" class="sr-only">Password</label>
           <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="Password" required>
           <div class="checkbox">
             <label>
               <input type="checkbox" value="remember-me"> Remember me
             </label>
           </div>
           <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Sign in</button>
         </form>
       <!---------------LOGIN---------------------------------->
       <div ng-show="vm.autorizovan">
           <div class="col-md-12" >
             {{vm.email}}
           </div>
           <div class="col-md-12" >
             <button class="btn btn-lg btn-primary btn-block" ng-click="vm.logout()">Logout</button>
           </div>
         </div>
       </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script>
      var app = angular.module('myApp', []);
      app.controller('MyCtrl', function($scope) {
          var vm = this;
          vm.email= "";
          vm.password= "";
          vm.message = "Trenutno niste prijavljeni na sistem!";
          vm.autorizovan = false;
          vm.search = "";

          vm.login = function(){
            if(vm.password == '1234'){
              vm.message = "Prijevljen je korisnik: "+vm.email;
              vm.autorizovan = true;
            }else{
              vm.message = "Pogresna lozinka";
            }
          }

          vm.logout = function(){
            vm.password = "";
            vm.autorizovan = false;
            vm.message = "Hvala sto ste koristili aplikaciju.";
          }

          vm.predmeti = [
            {naziv:'Engleski', profesor:'Radmila Suzić', asistent:""},
            {naziv:'Strukture podataka i algoritmi', profesor:'Dejan Živković', asistent:"Aleksandra Mitrović"},
            {naziv:'Programiranje 2', profesor:'Đorđe Obradović', asistent:"Ivan Radosavljević",
             obavestenja:[
                 {datum: "1.3.2017", obavestenje:'Teorijski kolokvijum 1'},
                 {datum: "13.5.2017", obavestenje:'Teorijski kolokvijum 2'},
                 {datum: "8.7.2017", obavestenje:'Ispit'}
             ]},
            {naziv:'Operativni Sistemi', profesor:'Aleksandar Jevremović', asistent:"-"},
            {naziv:'Veb programiranje', profesor:'Đorđe Obradović', asistent:"Ivan Radosavljević"}
          ];

          vm.profesor = {};

          vm.selectProfesora = function(prof){
            vm.profesor.selektovan = false;
            vm.profesor = prof;
            vm.profesor.selektovan = true;
          }

      });
    </script>

  </body>
</html>
