<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
      <div class="col-md-4 col-md-offset-4" ng-hide="vm.autorizovan">

        {{vm.message}}

      </div>
      <div class="col-md-8 col-md-offset-2" ng-show="vm.autorizovan">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <input type="text" ng-model="vm.search" class="form-control"></div>
          </div>
          <div class="panel-body" style="height:300px; overflow:auto;">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Redni broj</th>
                    <th>Index</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Grupa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="el in vm.studenti | filter:vm.search"
                      ng-click="vm.selectStudenta(el)">
                    <td>{{$index+1}}</td>
                    <td>{{el.indeks}}</td>
                    <td>{{el.ime}}</td>
                    <td>{{el.prezime}}</td>
                    <td>{{el.grupa}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>


    <div class="banner-information-strip-background">
      <img src="images/logo.png">
      <!---------------LOGIN---------------------------------->
         <form class="form-signin" ng-hide="vm.autorizovan">
           <label for="inputEmail" class="sr-only">Email address</label>
           <input type="email" id="inputEmail" class="form-control" ng-model="vm.email" placeholder="Email address" required autofocus>
           <label for="inputPassword" class="sr-only">Password</label>
           <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="Password" required>
           <div class="checkbox">
             <label>
               <input type="checkbox" value="remember-me"> Remember me
             </label>
           </div>
           <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Sign in</button>
         </form>
       <!---------------LOGIN---------------------------------->
       <div ng-show="vm.autorizovan">
           <div class="col-md-12" >
             {{vm.email}}
           </div>
           <div class="col-md-12" >
             <button class="btn btn-lg btn-primary btn-block" ng-click="vm.logout()">Logout</button>
           </div>
         </div>
       </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script>
      var app = angular.module('myApp', []);
      app.controller('MyCtrl', function($scope) {
          var vm = this;
          vm.email= "nesto@proba.net";
          vm.password= "1234";
          vm.message = "Trenutno niste prijavljeni na sistem!";
          vm.autorizovan = false;
          vm.search = "";

          vm.login = function(){
            if(vm.password == '1234'){
              vm.message = "Prijevljen je korisnik: "+vm.email;
              vm.autorizovan = true;
            }else{
              vm.message = "Pogresna lozinka";
            }
          }

          vm.logout = function(){
            vm.password = "";
            vm.autorizovan = false;
            vm.message = "Hvala sto ste koristili aplikaciju.";
          }

          vm.studenti = []

          vm.init = function(){
            var data = ['1 2016270320 Јово Мирковић 1',
                        '2 2016270752 Стефан Ивановић 1',
                        '3 2016270205 Душан Медић 1',
                        '4 2016270377 Лука Зец 1',
                        '5 2016270527 Стефан Комлушан 1',
                        '6 2016270214 Дино Суботички 1',
                        '7 2016270602 Ана Печенковић 1',
                        '8 2016270192 Давид Маљик 1',
                        '9 2016270251 Алекса Ћирић 1',
                        '10 2016270710 Кристина Никић 1',
                        '11 2016270866 Никола Наумовски 1',
                        '12 2016271004 Дејан Марковић 1',
                        '13 2016270185 Радован Радовановић 1',
                        '14 2016270897 Стеван Селих 1',
                        '15 2016270159 Denis Povolny 1',
                        '16 2016270995 Александар Будинчевић 1',
                        '17 2016270100 Милан Бачкоња 1',
                        '18 2016270694 Станко Гаврић 1',
                        '19 2016270832 Алекса Вујић 1',
                        '1 2016270365 Вујош Петровић 2',
                        '2 2016270061 Стефан Бига 2',
                        '3 2016270515 Марко Живанов 2',
                        '4 2016270171 Алексеj Ковачевић 2',
                        '5 2016270267 Давид Чампар 2',
                        '6 2016270383 Владимир Свирачевић 2',
                        '7 2016270116 Немања Мудрински 2',
                        '8 2016270821 Игор Бечелић 2',
                        '9 2016270493 Филип Ћурчић 2',
                        '10 2016270799 Вања Николић 2',
                        '11 2016270233 Кристијан Кончар 2',
                        '12 2016271015 Ружица Билановић 2',
                        '13 2016270429 Бојан Вујановић 2',
                        '14 2016270396 Немања Влаисављевић 2',
                        '15 2016270656 Марко Рајић 2',
                        '16 2016270280 Александар Живковић 2',
                        '17 2016270486 Јаков Митровић 2',
                        '18 2016270472 Бранислав Вучковић 2',
                        '19 2016270969 Милош Гојковић 2'];
              for(var i in data){
                var linija = data[i];
                var parts = linija.split(' ');
                var student = {
                  rb: parts[0],
                  indeks: parts[1],
                  ime: parts[2],
                  prezime: parts[3],
                  grupa: "Г"+parts[4]
                }
                vm.studenti.push(student);
              }
          }

          vm.init();
      });
    </script>

  </body>
</html>
