<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>

    <div class="container" ng-app="myApp" ng-controller="MyCtrl">
      <div class="col-md-4 col-md-offset-4" >

        Ime: <input type="text" ng-model="ime"><br>
        Prezime: <input type="text" ng-model="prezime"><br>
        <br>
        Ime i prezime: {{ime + " " + prezime}}

      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script>
      var app = angular.module('myApp', []);
      app.controller('MyCtrl', function($scope) {
          $scope.ime = "";
          $scope.prezime = "";
      });
    </script>

  </body>
</html>
