<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div class="container">
      <div class="col-md-4 col-md-offset-4" >

        {{vm.message}}

      </div>
    </div>



    <div class="banner-information-strip-background">
      <img src="images/logo.png">
      <!---------------LOGIN---------------------------------->
         <form class="form-signin">
           <label for="inputEmail" class="sr-only">Email address</label>
           <input type="email" id="inputEmail" class="form-control" ng-model="vm.email" placeholder="Email address" required autofocus>
           <label for="inputPassword" class="sr-only">Password</label>
           <input type="password" id="inputPassword" class="form-control" ng-model="vm.password" placeholder="Password" required>
           <div class="checkbox">
             <label>
               <input type="checkbox" value="remember-me"> Remember me
             </label>
           </div>
           <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Sign in</button>
         </form>
       <!---------------LOGIN---------------------------------->
    </div>



    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script>
      var app = angular.module('myApp', []);
      app.controller('MyCtrl', function($scope) {
          var vm = this;
          vm.email = "";
          vm.password = "";
          vm.message = "Trenutno niste prijavljeni na sistem!";

          vm.login = function(){
            if(vm.password == '1234'){
              vm.message = "Prijevljen je korisnik: "+vm.email;
            }else{
              vm.message = "Pogresna lozinka";
            }
          }
      });
    </script>

  </body>
</html>
