<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">R. br.</th>
                <th scope="col">Naziv</th>
                <th scope="col">Opis</th>
                <th scope="col">Cena</th>
                <th scope="col">Na lageru</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="komponenta in rkc.racunarskeKomponente">
                <th scope="row">{{$index+1}}</th>
                <td>{{komponenta.naziv}}</td>
                <td>{{komponenta.opis}}</td>
                <td>{{komponenta.cena}}</td>
                <td>{{komponenta.na_lageru}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="rkc.ukloniKomponentu(komponenta.id)">obrisi</button>
                    <!-- <a ui-sref="objekat({id: objekat.id})" class="btn btn-primary">detaljnije</a> -->
                    <a ui-sref="racunarskaKomponenta({id: komponenta.id})" class="btn btn-primary">izmeni</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <form ng-submit="rkc.dobaviRacunarskeKomponente()">
                <label for="naziv">Pretrazi: </label>
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="rkc.pretraga.naziv">
                </div>
                <div class="form-group">
                    <label for="opis">Opis: </label>
                    <input type="text" class="form-control" name="opis" id="opis" aria-describedby="naziv" placeholder="Unesite opis" ng-model="rkc.pretraga.opis">
                </div>
                <div class="form-group">
                    <label for="kolicinaOd">Kolicina od: </label>
                    <input type="number" class="form-control" name="kolicinaOd" id="kolicinaOd" value="0" min="0" ng-model="rkc.pretraga.kolicinaOd">
                    <label for="kolicinaDo">Kolicina do: </label>
                    <input type="number" class="form-control" name="kolicinaDo" id="kolicinaDo" value="0" max="1000" ng-model="rkc.pretraga.kolicinaDo">
                </div>
                <button type="submit" class="btn btn-primary">Filtriraj</button>
            </form>
        </div>
        <div class="col-md-6">
            <form ng-submit="rkc.dodajKomponentu()">
                <label for="">Dodaj objekat: </label><br>
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="rkc.novaKomponenta.naziv" required>
                </div>
                <div class="form-group">
                    <label for="opis">Kratak opis: </label>
                    <input type="text" class="form-control" name="opis" id="opis" placeholder="Unesite kratak opis" ng-model="rkc.novaKomponenta.opis">
                </div>
                <div class="form-group">
                    <label for="cena">Cena: </label>
                    <input type="number" class="form-control" name="cena" id="cena" value="0" min="0" ng-model="rkc.novaKomponenta.cena">
                </div>
                <div class="form-group">
                    <label for="na_lageru">Na lageru: </label>
                    <input type="number" class="form-control" name="na_lageru" id="na_lageru" value="0" min="0" ng-model="rkc.novaKomponenta.na_lageru">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
                <hr>
            </form>
        </div> 
    </div>
</div>