<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{naslov}} {{request.form['ime']}}</title>
</head>
<body>
    <ol>
        <li>{% if request.form['ime'] == "dsa" %}*{% elif request.form['ime'] == "bbb" %}#{% else %}-{% endif %}Ime korisnika: {{request.form['ime']}}</li>
        <li>Prezime korisnika: {{request.form['prezime']}}</li>
        <li>Email korisnika: {{request.form['email']}}</li>
        <li>Datum rodjenja korisnika: {{request.form['datumRodjenja']|date}}</li>
    </ol>
</body>
</html>