<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">R. br.</th>
                <th scope="col">Korisnicko ime</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="korisnik in kc.korisnici">
                <th scope="row">{{$index+1}}</th>
                <td>{{korisnik.username}}</td>
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="kc.ukloniKorisnika(korisnik.username)">obrisi</button>
                    <a ui-sref="korisnik({korisnicko_ime: korisnik.username})" class="btn btn-primary">detaljnije</a>
                    <a ui-sref="korisnik({korisnicko_ime: korisnik.username})" class="btn btn-primary">izmeni</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <form ng-submit="kc.dodajKorisnika()">
                <label for="">Dodaj novog korisnika: </label>
                <div class="form-group">
                    <label for="korisnickoIme">Korisnicko ime: </label>
                    <input type="text" class="form-control" name="korisnickoIme" id="korisnickoIme" aria-describedby="naziv" placeholder="Unesite korisnicko ime" ng-model="kc.noviKorisnik.username" required>
                </div>
                <div class="form-group">
                    <label for="ime">Ime: </label>
                    <input type="text" class="form-control" name="ime" id="ime" placeholder="Unesite ime" ng-model="kc.noviKorisnik.ime" required>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime: </label>
                    <input type="text" class="form-control" name="prezime" id="prezime" placeholder="Unesite perzime" ng-model="kc.noviKorisnik.prezime" required>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </form>
        </div>
        <div class="col-md-6">
            <label for="">Pretrazi: </label>
            <form ng-submit="kc.dobaviKorisnike()">
                <div class="form-group">
                    <label for="korisnickoIme">Korisnicko ime: </label>
                    <input type="text" class="form-control" name="korisnickoIme" id="korisnickoIme" aria-describedby="naziv" placeholder="Unesite korisnicko ime" ng-model="kc.pretraga.username">
                </div>
                <div class="form-group">
                    <label for="ime">Ime: </label>
                    <input type="text" class="form-control" name="ime" id="ime" aria-describedby="naziv" placeholder="Unesite ime" ng-model="kc.pretraga.ime">
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime: </label>
                    <input type="text" class="form-control" name="prezime" id="prezime" aria-describedby="naziv" placeholder="Unesite prezime" ng-model="kc.pretraga.prezime">
                </div>
                <button type="submit" class="btn btn-primary">Filtriraj</button>
            </form>
        </div>
    </div>
</div>