<div>
    <ul>
        <li>Ime: {{kc.korisnik.ime}}</li>
        <li>Prezime: {{kc.korisnik.prezime}}</li>
    </ul>

    <!-- Direktivno ui-sref kreira se link za prelazak na zadato stanje. -->
    <!-- Stanje na koje je potrebno preci se navodi po nazivu. -->
    <a ui-sref="home" ui-sref-active="active" class="btn btn-primary">Nazad</a>
</div>