<div class="container h-100">
    <div class="offset-md-4 col-md-4">
        <br>    
        <div class="p-5 h-75 rounded-circle" style="background-color: aliceblue">
            <form ng-submit="losuc.login()">
                <div class="form-group">
                    <img src="images/login_and_sign_up/instagram-logo.png" alt="instagram-logo" class="img-fluid">
                </div>
                <div class="form-group">
                    <label for="userNameOrEmail"></label>
                    <input type="text" ng-model="losuc.loginUsername" class="form-control" id="userNameOrEmail" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" ng-model="losuc.password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <small class="p-3 form-text text-muted text-center">{{losuc.loginMessage}}</small>
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
        </div>
        <div class="p-5 text-center rounded-circle" style="background-color: aliceblue">
            <p>Get the app.</p>
            <div class="row">
                <div class="col-md-6">
                    <img src="images/login_and_sign_up/AppStore.png" alt="instagram-logo" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <img src="images/login_and_sign_up/GooglePlay.png" alt="instagram-logo" class="img-fluid">
                </div>
            </div>
            <br>
            <form>
                <label>Don't have an account?</label>
                <button type="button" ui-sref="sign_up" class="btn btn-link nounderline">Sign up</button>
            </form>
        </div>
    </div>
</div>