<div class="h-100">
    <br>
    <div class="row">
        <div class="offset-md-3 col-md-3">
            <img src="images/login_and_sign_up/phones.png" alt="phones" class="img-fluid">
        </div>
        <div class="col-md-3">  
            <div class="p-5 h-100 rounded-circle" style="background-color: aliceblue">
                <form ng-submit="losuc.signUp()">
                    <div class="form-group">
                        <img src="images/login_and_sign_up/instagram-logo.png" alt="instagram-logo" class="img-fluid">
                    </div>
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" ng-model="losuc.userSignIn.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                        <small id="emailHelp" class="form-text text-muted">{{losuc.duplicateEmail}}</small>
                    </div>
                    <div class="form-group">
                        <label for="fullName"></label>
                        <input type="text" ng-model="losuc.userSignIn.realName" class="form-control" id="fullName" placeholder="Full name" required>
                    </div>
                    <div class="form-group">
                        <label for="userName"></label>
                        <input type="text" ng-model="losuc.userSignIn.username" class="form-control" id="userName" placeholder="Username" required>
                        <small id="userNameHelp" class="form-text text-muted">{{losuc.duplicateUsername}}</small>
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" ng-model="losuc.userSignIn.password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country: </label>
                        <select class="form-control" name="country" id="country" ng-model="losuc.country" ng-required="required">
                            <option value="{{country.country_id}}" ng-repeat="country in losuc.countries">{{country.name}}</option>
                        </select>
                    </div>
                    <div ng-if="losuc.isCountrySelected()" ng-click="losuc.getStates()" class="form-group">
                        <label for="state">State: </label>
                        <select class="form-control" name="state" id="state" ng-model="losuc.state" ng-required="required">
                            <option value="{{state.state_id}}" ng-repeat="state in losuc.states">{{state.name}}</option>
                        </select>
                    </div>
                    <div ng-if="losuc.isStateSelected()" ng-click="losuc.getCities()" class="form-group">
                        <label for="city">City: </label>
                        <select class="form-control" name="city" id="city" ng-model="losuc.city" ng-required="required">
                            <option value="{{city.city_id}}" ng-repeat="city in losuc.cities">{{city.name}}</option>
                        </select>
                    </div>
                    <div ng-if="losuc.isCitySelected()" ng-click="losuc.getGenders()" class="form-group">
                        <label for="gender">Gender: </label>
                        <select class="form-control" name="gender" id="gender" ng-model="losuc.gender" ng-required="required">
                            <option value="{{gender.gender_id}}" ng-repeat="gender in losuc.genders">{{gender.name}}</option>
                        </select>
                    </div>
                    <div ng-if="losuc.isGenderSelected()" class="form-group">
                        <label for="birthday">Birthday: </label>
                        <input type="date" ng-model="losuc.birthDate" class="form-control" id="birthday" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </form>
            
                <div class="p-5 text-center">
                    <p>Get the app.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/login_and_sign_up/AppStore.png" alt="instagram-logo" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <img src="images/login_and_sign_up/GooglePlay.png" alt="instagram-logo" class="img-fluid">
                        </div>
                    </div>
                    <br>
                    <form>
                        <label>Have an account?</label>
                        <button type="button" ui-sref="login" class="btn btn-link nounderline">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>