<div>
        <div class="row">
                <div class="col-md-5">
                    <p>Id stavke: {{tc.trazenoTrebovanje.stavke_id}}</p>
                    <p>Korisnicko ime: {{tc.trazenoTrebovanje.korisnici_username}}</p>
                    <p>Kolicina: {{tc.trazenoTrebovanje.kolicina}}</p>
                    <p>Datum: {{tc.trazenoTrebovanje.datum}}</p>
                </div>
                <div class="col-md-7">
                    <form ng-submit="tc.izmeniTrebovanje()">
                        <label for="">Izmeni trebovanje: </label>
                        <div class="form-group">
                            <label for="stavka">Stavka: </label>
                            <select class="form-control" name="stavka" id="stavka" ng-model="tc.izmenjenoTrebovanje.stavka_id">
                                <option ng-repeat="stavka in tc.stavke" value="{{stavka.id}}">{{stavka.naziv}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="korisnik">Korisnici: </label>
                            <select class="form-control" name="korisnik" id="korisnik" ng-model="tc.izmenjenoTrebovanje.korisnicko_ime">
                                <option ng-repeat="korisnik in tc.korisnici" value="{{korisnik.username}}">{{korisnik.ime}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="kolicina">Kolicina: </label>
                            <input type="number" class="form-control" name="kolicina" id="kolicina" value="0" min="0" ng-model="tc.izmenjenoTrebovanje.kolicina">
                        </div>
                        <div class="form-group">
                            <label for="datum">Datum: </label>
                            <input type="date" class="form-control" name="datum" id="datum" ng-model="tc.izmenjenoTrebovanje.datum" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Izmeni trebovanje</button>
                    </form>
                </div>
            </div>
</div>