<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">R. br.</th>
                <th scope="col">Naziv</th>
                <th scope="col">Kolicina</th>
                <th scope="col">Opis</th>
                <th scope="col">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="objekat in oc.objekti">
                <th scope="row">{{$index+1}}</th>
                <td>{{objekat.naziv}}</td>
                <td>{{objekat.kolicina}}</td>
                <td>{{objekat.opis}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="oc.ukloniObjekte(objekat.id)">obrisi</button>
                    <a ui-sref="objekat({id: objekat.id})" class="btn btn-primary">detaljnije</a>
                    <a ui-sref="objekat({id: objekat.id})" class="btn btn-primary">izmeni</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="oc.dobaviObjekte()">
                <label for="naziv">Pretrazi: </label>
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="oc.pretraga.naziv">
                </div>
                <div class="form-group">
                    <label for="opis">Opis: </label>
                    <input type="text" class="form-control" name="opis" id="opis" aria-describedby="naziv" placeholder="Unesite opis" ng-model="oc.pretraga.opis">
                </div>
                <div class="form-group">
                    <label for="kolicinaOd">Kolicina od: </label>
                    <input type="number" class="form-control" name="kolicinaOd" id="kolicinaOd" value="0" min="0" ng-model="oc.pretraga.kolicinaOd">
                    <label for="kolicinaDo">Kolicina do: </label>
                    <input type="number" class="form-control" name="kolicinaDo" id="kolicinaDo" value="0" max="1000" ng-model="oc.pretraga.kolicinaDo">
                </div>
                <button type="submit" class="btn btn-primary">Filtriraj</button>
            </form>
        </div>
        <div class="col-md-6">
            <form ng-submit="oc.dodajObjekat()">
                <label for="">Dodaj objekat: </label><br>
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="oc.noviObjekat.naziv" required>
                </div>
                <div class="form-group">
                    <label for="kolicina">Kolicina: </label>
                    <input type="number" class="form-control" name="kolicina" id="kolicina" value="0" min="0" ng-model="oc.noviObjekat.kolicina">
                </div>
                <div class="form-group">
                    <label for="opis">Kratak opis: </label>
                    <input type="text" class="form-control" name="opis" id="opis" placeholder="Unesite kratak opis" ng-model="oc.noviObjekat.opis">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
                <hr>
            </form>
        </div>
    </div>
</div>