<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer 1</title>
    <link rel="stylesheet" href="..\bower_components\bootstrap\dist\css\bootstrap.min.css">
</head>
<body ng-app="myApp">

    <div class="container">
        <!-- <div class="alert alert-primary" role="alert">
            A simple primary alert--check it out
        </div> -->

        <div ng-controller="MyCtrl as mc">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">Kolicina</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stavka in mc.stavke" ng-class="{'text-danger': stavka.kolicina < 100}">
                        <th scope="row">{{$index}}</th>
                        <td>{{stavka.naziv}}</td>
                        <td>{{stavka.kolicina}}</td>
                        <td><button class="btn btn-default" ng-click="mc.ukloniStavku($index)">Ukloni</button></td>
                    </tr>
                </tbody>
            </table>
            
            <form ng-submit="mc.dodajStavku()">
                <div class="form-group">
                    <label for="naziv">Naziv</label>
                    <input type="text" ng-model="mc.novaStavka.naziv" class="form-control" id="naziv" placeholder="naziv" required>
                </div>
                <div class="form-group">
                        <label for="kolicina">Kolicina</label>
                        <input type="number" ng-model="mc.novaStavka.kolicina" class="form-control" id="kolicina" placeholder="kolicina" required>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script src="..\bower_components\jquery\dist\jquery.min.js"></script>
    <script src="..\bower_components\popper\popper.min.js"></script>
    <script src="..\bower_components\bootstrap\dist\js\bootstrap.min.js"></script>

    <script src="..\bower_components\angular\angular.min.js"></script>
    <script src="app.js"></script>
    <script src="magacinCtrl.js"></script>
</body>
</html>