<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izmena: {{komponenta["naziv"]}}</title>
</head>
<body>
    <form action="/izmeniKomponentu/{{index}}" method="POST">
        <label for="naziv">Naziv:</label><input type="text" name="naziv" id="naziv" value="{{komponenta['naziv']}}"><br><br>
        <label for="opis">Opis:</label><input type="text" name="opis" id="opis" value="{{komponenta['opis']}}"><br><br>
        <label for="kolicina">Kolicina:</label><input type="number" name="kolicina" id="kolicina" value="{{komponenta['dostupna_kolicina']}}"><br><br>
        <label for="cena">Cena:</label><input type="number" name="cena" id="cena" value="{{komponenta['cena']}}"><br><br>
        <input type="submit" name="submit" id="submit" value="Izmeni"><br><br>
    </form>
</body>
</html>