<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kupi: {{komponenta["naziv"]}}</title>
</head>
<body>
    <form action="/kupiKomponentu/{{index}}" method="POST">
        <label for="naziv">Naziv: {{komponenta['naziv']}}</label><br><br>
        <label for="opis">Opis: {{komponenta['opis']}}</label><br><br>
        <label for="kolicina">Kolicina za kupovinu:</label><input type="number" name="kolicina" id="kolicina" min="0" max="{{komponenta['dostupna_kolicina']}}" value="{{komponenta['dostupna_kolicina']}}"><br><br>
        <label for="cena">Cena: {{komponenta['cena']}}</label><br><br>
        <input type="submit" name="submit" id="submit" value="Kupi"><br><br>
    </form>
</body>
</html>