<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racunarske Komponente</title>
</head>
<body>
    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Opis</td>
                <td>Dostupna kolicina</td>
                <td>Cena</td>
                <td>U prodaji</td>
                <td>Izmeni</td>
                <td>Ukloni</td>
                <td>Kupi</td>
            </tr>
        </thead>

        <tbody>
            {% for komponenta in komponente %}
                <tr>
                    <td>{{komponenta["naziv"]}}</td>
                    <td>{{komponenta["opis"]}}</td>
                    <td>{{komponenta["dostupna_kolicina"]}}</td>
                    <td>{{komponenta["cena"]}}</td>
                    {% if komponenta["aktivna"] %}
                        <td>u prodaji</td>
                        {% else %}
                        <td>nije u prodaji</td>
                    {% endif %}
                    <td><a href="/izmeniForma/{{komponenta|recnik_u_str}}/{{loop.index-1}}">izmeni</a></td>
                    <td><a href="/ukloniKomponentu/{{loop.index-1}}">ukloni</a></td>
                    {% if komponenta["aktivna"] and komponenta["dostupna_kolicina"] > 0 %}
                        <td><a href="/kupiForma/{{loop.index-1}}">kupi</a></td>
                        {% else %}
                        <td>/</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/formaDodajNovuKomponentu">Dodaj novu racunarsku komponentu</a>
</body>
</html>