<div class="container">
    <br>
    <ul class="nav d-flex mb-3">
        <li class="p-2 ml-md-5 mr-auto nav-item">
            <p class="font-weight-bold">{{uc.user.username}}</p>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2"><i class="far fa-clock"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2"><i class="far fa-bookmark"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2"><i class="fas fa-list-ul"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" ng-click="uc.goSearch()"><i class="fas fa-user-plus"></i></a>
        </li>
        <li class="nav-item">
            <a class="mr-md-5 ml-auto nav-link p-2"><i class="fas fa-ellipsis-h"></i></a>
        </li>
    </ul>
    <hr>

    <div>
        <div class="container-fluid text-center" ng-if="!uc.oneStepToPost">
            <h5>click on picture that you want to be the first one</h5>
            <hr>
            <div class="col-md-4" style="height: 30em; width: 30em; line-height: 30em; text-align: center;" ng-repeat="picture in uc.pictures">
                <img src="users/{{uc.user.username}}/temp/{{picture.name}}" ng-click="uc.selectFirstImage(picture.name)" class="rounded" alt="format nije dobar" style="display: inline-block; max-height: 30em; max-width: 20em; cursor: pointer;">
            </div>
        </div>

        <div class="container-fluid" ng-if="uc.oneStepToPost">
            <div class="col-md-8">
                <label for="caption">Caption: </label>
                <textarea ng-model="uc.caption" class="form-control" id="caption" rows="3"></textarea>
            </div>
            <div class="col-md-4" style="height: 30em; width: 30em; line-height: 30em; text-align: center;">
                <img src="users/{{uc.user.username}}/temp/{{uc.firstPictureName}}" class="rounded" alt="format nije dobar" style="display: inline-block; max-height: 30em; max-width: 20em;">
            </div>
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-1" ng-if="!uc.oneStepToPost">
        </div>
        <div class="offset-md-1 col-md-2">
            <button type="button" ng-click="uc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="uc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="uc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-2">
            <button type="button" ng-click="uc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
        <div class="col-md-2" ng-if="uc.oneStepToPost">
            <button type="button" ng-click="uc.post()" class="btn btn-light btn-block"><i class="far fa-check-circle"></i></button>
        </div>
    </div>
</div>