<div>
    <div class="row">
        <div class="col-md-5">
            <!-- {{kc.trazeniKorisnik}} -->
            <p>Korisnicko ime: {{kc.trazeniKorisnik.username}}</p>
            <p>Ime: {{kc.trazeniKorisnik.ime}}</p>
            <p>Prezime: {{kc.trazeniKorisnik.prezime}}</p>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username" id="username" ng-model="kc.trazeniKorisnik.username" readonly>
            </div>
            <div class="form-group">
                <label for="ime">Ime: </label>
                <input type="text" class="form-control" name="ime" id="ime" ng-model="kc.noviKorisnik.ime">
            </div>
            <div class="form-group">
                <label for="prezime">Prezime: </label>
                <input type="text" class="form-control" name="prezime" id="prezime" ng-model="kc.noviKorisnik.prezime">
            </div>
            <button type="button" class="btn btn-primary" ng-click="kc.izmeniKorisnika(kc.trazeniKorisnik.username)">zabelezi izmenu</button>
        </div>
    </div>
</div>