<div>
    <div class="row">
        <div class="col-md-5">
            <p>Naziv: {{oc.trazeniObjekat.naziv}}</p>
            <p>Kolicina: {{oc.trazeniObjekat.kolicina}}</p>
            <p>Opis: {{oc.trazeniObjekat.opis}}</p>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label for="naziv">Naziv: </label>
                <input type="text" class="form-control" name="naziv" id="naziv" ng-model="oc.trazeniObjekat.naziv" readonly>
            </div>
            <div class="form-group">
                <label for="kolicina">Kolicina: </label>
                <input type="number" class="form-control" name="kolicina" id="kolicina" value="0" min="0" ng-model="oc.izmenjeniObjekat.kolicina">
            </div>
            <div class="form-group">
                <label for="opis">Kratak opis: </label>
                <input type="text" class="form-control" name="opis" id="opis" placeholder="Unesite kratak opis" ng-model="oc.izmenjeniObjekat.opis">
            </div>
            <button type="button" class="btn btn-primary" ng-click="oc.izmeniObjekat()">zabelezi izmenu</button>
        </div>
    </div>
</div>