<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{fpc.foundPerson.username}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-clock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="far fa-bookmark"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2"><i class="fas fa-list-ul"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" ng-click="fpc.goSearch()"><i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="mr-md-5 ml-auto nav-link p-2"><i class="fas fa-ellipsis-h"></i></a>
            </li>
        </ul>
    </div>
    <hr>

    <div class="container">
        <!-- PRVI DEO -->
        <div class="row col-md-12">
            <div class="col-md-2 text-center">
                <img src="{{fpc.iconPath}}" class="rounded-circle" alt="format nije dobar" style="border: 1px solid #808080; max-height: 6em; max-width: 4em; cursor: pointer;">
            </div>
            <div class="col-md-10">
                <div class="row col-md-12 h-50">
                    <div class="col-md-4 text-center">{{fpc.uploads.length}} posts</div>
                    <div ng-click="fpc.goFollowers()" class="col-md-4 text-center" style="cursor: pointer;">{{fpc.followers.length}} followers</div>
                    <div ng-click="fpc.goFollowings()" class="col-md-4 text-center" style="cursor: pointer;">{{fpc.followings.length}} following</div>
                </div>
                <div class="row col-md-12 h-50">
                    <div class="col-md-11">
                        <button type="button" ng-click="fpc.wantToSendMessage()" class="btn btn-light btn-block"><i class="fas fa-envelope-open"></i></button>
                    </div>
                    <div ng-if="!fpc.follow" class="col-md-1">
                        <button type="button" ng-click="fpc.followPerson()" class="btn btn-light btn-block"><i class="fas fa-user-plus"></i></button>
                    </div>
                    <div ng-if="fpc.follow" class="col-md-1">
                        <button type="button" ng-click="fpc.unfollowPerson()" class="btn btn-light btn-block"><i class="fas fa-user-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------ -->
        <!-- DRUGI DEO -->
        <div class="col-md-9">

        </div>
        <!-- ------------------ -->
        <!-- TRECI DEO -->
        <div class="col-md-12 text-center">
            <hr>
            <button ng-click="fpc.showEmailAddress()" type="button" class="btn btn-link btn-block nounderline">Email</button>
            <h5 ng-if="fpc.showEmail">{{fpc.foundPerson.email}}</h5>
            <hr>
        </div>
        <!-- ------------------ -->
        <!-- CETVRTI DEO -->
        <div class="col-md-12 row d-flex justify-content-around">
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-ellipsis-h"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-list"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="far fa-star"></i></div>
            <div class="p-2" style="cursor: pointer;"><i class="fas fa-users"></i></div>
        </div>
        <!-- ------------------ -->
        <!-- PETI DEO -->
        <div ng-mouseleave="fpc.showPosts()" class="col-md-12 row text-center">
            <div ng-if= "fpc.showUploads" class="mt-5 mb-5 col-md-4" style="height: 30em; width: 30em; text-align: center;" ng-repeat="upload in fpc.uploads">
                <hr>
                <img ng-right-click="decrement('true', upload)" ng-click="fpc.seePost(upload.data.post_id, upload.data.user_id)" src="users/{{fpc.foundPerson.username}}/posts/{{upload.urls[upload.show]}}" class="rounded" alt="format nije dobar" style="max-height: 30em; max-width: 20em; cursor: pointer;">                
                <hr>
                <div class="row" ng-if="!upload.onePage">
                    <div class="offset-md-1 col-md-5">
                        <button type="button" ng-click="fpc.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" ng-click="fpc.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr ng-if="!upload.onePage">
            </div>
            <div ng-if="!fpc.showUploads" class="mb-5 col-md-12" style="height: 80em; width: 100%; text-align: center;">
                <hr>
                <img ng-right-click="decrement('false', upload)" ng-click="fpc.seePost(fpc.currentUpload.data.post_id, fpc.currentUpload.data.user_id)" src="users/{{fpc.foundPerson.username}}/posts/{{fpc.currentUpload.urls[fpc.currentUpload.show]}}" class="rounded" alt="format nije dobar" style="max-height: 60em; max-width: 40em; cursor: pointer;">
                <hr>
                <h5>Number of comments: {{fpc.currentUpload.numberOfComments}}</h5>
                <h5>Number of likes: {{fpc.currentUpload.numberOfLikes}}</h5>
                <h5>{{fpc.currentUpload.data.caption}}</h5>
                <div class="row" ng-if="!fpc.currentUpload.onePage">
                    <div class="offset-md-3 col-md-3">
                        <button type="button" ng-click="fpc.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" ng-click="fpc.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr ng-if="!fpc.currentUpload.onePage">
            </div>
        </div>
        <!-- ------------------ -->
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="fpc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fpc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fpc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="fpc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>