<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{sc.currentUserName}}</p>
            </li>
        </ul>
    </div>
    <hr>
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input ng-model="sc.params.usernameSearch" class="search_input" type="text" name="" placeholder="Search...">
            <a ng-click="sc.search()" class="search_icon" style="cursor: pointer;"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="offset-md-3 col-md-6">
        <div ng-click="sc.find(person.user_id)" class="offset-md-3 col-md-6 text-center" style="border-bottom: 1px solid #F5F5F5; line-height: 15px; cursor: pointer;" ng-repeat="person in sc.found">
            <h5 style="display: inline-block">{{person.username}}</h5>
        </div>
    </div>

    <div class="col-md-12 row text-center">
        <div class="mt-5 mb-5 col-md-4" style="height: 30em; width: 30em; text-align: center;" ng-repeat="upload in sc.uploads">
            <hr>
            <h5 ng-click="sc.goToProfile(upload.data.user_id)" style="cursor: pointer;">username: {{upload.username}}</h5>
            <img ng-click="sc.seePost(upload.data.post_id, upload.data.user_id)" src="{{upload.path}}/{{upload.urls[upload.show]}}" class="rounded" alt="format nije dobar" style="max-height: 30em; max-width: 20em; cursor: pointer;">                
            <hr>
            <div class="row" ng-if="!upload.onePage">
                <div class="offset-md-1 col-md-5">
                    <button type="button" ng-click="sc.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="col-md-5">
                    <button type="button" ng-click="sc.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <hr ng-if="!upload.onePage">
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="sc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ui-sref="search" class="btn btn-light btn-block glyphicon"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="sc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="sc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>