<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prikaz Zaposlenih</title>
</head>
<body>
    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Radno mesto</th>
                <th>Visina plate</th>
                <th>Uklonjen</th>
                <th>Opcija</th>
            </tr>
        </thead>

        <tbody>
            {% for zaposlen in zaposleni %}
            <tr>
                <td>{{zaposlen["ime"]}}</td>
                <td>{{zaposlen["prezime"]}}</td>
                <td>{{zaposlen["radno_mesto"]}}</td>
                <td>{{zaposlen["plata"]}}</td>
                {% if zaposlen["uklonjen"] %}
                <td>da</td>
                {% else %}
                <td>ne</td>
                {% endif %}
                <td><a href="/ukloniZaposlenog/{{loop.index-1}}">ukloni</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/formaNovogZaposlenog">Dodaj novog zaposlenog</a>
</body>
</html>