<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{ec.currentUserName}}</p>
            </li>
        </ul>
    </div>
    <hr>

    <div class="col-md-12">
        <h5 class="col-md-1 font-weight-bold">New</h5>
        <div class="p-2 col-md-12" style="line-height: 6em; width: 100%; text-align: center;" ng-repeat="data in ec.data">
            <img ng-click="ec.seeAccount(data.id)" src="{{data.icon_url}}" class="rounded-circle float-left" alt="format nije dobar" style="display: inline-block; border: 1px solid #808080; min-height: 2em; max-width: 2em; cursor: pointer;">
            <h5 class="p-2 font-weight-bold float-left" style="display: inline-block;">{{data.username}}</h5>
            <h5 class="p-2 float-left" style="display: inline-block;">{{data.text}}</h5>
            <h6 class="p-2 float-left" style="display: inline-block; color: darkgray">{{data.ago}}</h6>
            <img ng-click="ec.seePost(data.post_id, data.id)" ng-if="ec.check(data.text)" src="{{data.post_url}}" class="float-right" alt="format nije dobar" style="display: inline-block; min-height: 2em; max-width: 2em; cursor: pointer;">
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="ec.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="ec.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ui-sref="events" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="ec.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>