<div class="panel panel-default" ng-show="vm.student==null">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" ng-model="vm.search" class="form-control">
      <span class="input-group-addon">
        <button type="button" class="btn btn-default btn-xs"
              ng-click="vm.noviStudent()">
              Novi Student
            </button>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row table_head">
        <div class="col-xs-1">#</div>
        <div class="col-xs-2">Index</div>
        <div class="col-xs-3">Ime</div>
        <div class="col-xs-3">Prezime</div>
        <div class="col-xs-2">Grupa</div>
        <div class="col-xs-1"></div>
    </div>
    <div class="container-flow" style="height:300px; overflow-y: auto; overflow-x: hidden;">
      <div class="row table_row" ng-repeat="el in vm.studenti | filter:vm.search">
          <div class="col-xs-1">{{$index+1}}</div>
          <div class="col-xs-2">{{el.indeks}}</div>
          <div class="col-xs-3">{{el.ime}}</div>
          <div class="col-xs-3">{{el.prezime}}</div>
          <div class="col-xs-2">{{el.grupa}}</div>
          <div class="col-xs-1">
            <button type="button" class="btn btn-default btn-xs"
                  ng-click="vm.selectStudenta(el)">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default" ng-hide="vm.student==null">
  <div class="panel-heading">
    Student
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label>Indeks:</label>
        <input type="text" ng-model="vm.student.indeks" class="form-control" placeholder="indeks">
      </div>
      <div class="form-group">
        <label>Ime:</label>
        <input type="text" ng-model="vm.student.ime" class="form-control" placeholder="ime">
      </div>
      <div class="form-group">
        <label>Prezime:</label>
        <input type="text" ng-model="vm.student.prezime" class="form-control" placeholder="prezime">
      </div>
      <div class="form-group">
        <label>Grupa:</label>
        <input type="text" ng-model="vm.student.grupa" class="form-control" placeholder="grupa">
      </div>
      <button class="btn btn-lg btn-default pull-left" ng-click="vm.cancel()">Odustajem</button>
      <button class="btn btn-lg btn-primary pull-right" ng-click="vm.save()">Sačuvaj</button>
    </form>

  </div>
</div>
