<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{ec.currentUserName}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" ng-click="ec.openMessages()"><i class="far fa-paper-plane"></i></a>
            </li>
        </ul>
    </div>
    <hr>

    <div class="mb-5 offset-md-1 col-md-10">
        <div class="col-md-12" style="line-height: 65em; text-align: center;" ng-repeat="upload in ec.uploads">
            <hr>
            <h4 ng-click="ec.goToProfile(upload.data.user_id)" style="cursor: pointer;">user: {{upload.username}}</h4>
            <h5>time: {{upload.data.date_updated}}</h5>
            <h5>{{upload.data.caption}}</h5>
            <img ng-click="ec.seePost(upload.data.post_id, upload.data.user_id)" src="{{upload.path}}/{{upload.urls[upload.show]}}" class="rounded" alt="format nije dobar" style="display: inline; max-height: 60em; max-width: 70%; cursor: pointer;">
            <div class="row" ng-if="!upload.onePage">
                <div class="offset-md-1 col-md-5">
                    <button type="button" ng-click="ec.changePic($index, 'toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="col-md-5">
                    <button type="button" ng-click="ec.changePic($index, 'toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <hr ng-if="!upload.onePage">
        </div>
    </div>
    
    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ui-sref="explore" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="ec.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="ec.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="ec.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>