<div class="container">
    <div class="container" style="height: 30px;">
        <br>
        <ul class="nav d-flex mb-3">
            <li class="p-2 ml-md-5 mr-auto nav-item">
                <p class="font-weight-bold">{{mc.currentUserName}}</p>
            </li>
            <li class="nav-item">
                <p class="font-weight-bold">{{mc.foundPersonName}}</p>
            </li>
            <li class="nav-item">
                <a class="mr-md-5 ml-auto nav-link p-2"></a><i class="fas fa-envelope-open"></i></a>
            </li>
        </ul>
    </div>
    <hr>
    
    <div class="mb-5 offset-md-2 col-md-8" style="border-left: 1px solid #F5F5F5; border-right: 1px solid #F5F5F5;">
        <div class="col-md-12" ng-repeat="dict in mc.messages">
            <div ng-if="!mc.isMine(dict.user_id_from)"  ng-click="mc.showDate(dict.message_id)"  class="mt-2 float-left col-md-8 text-center" style="word-break: break-all; background-color: lavender; cursor: pointer;">
                <h5>{{dict.content}}</h5>
                <h5 ng-if="dict.showDate">{{dict.date_created}}</h5>
            </div>
            <div ng-if="mc.isMine(dict.user_id_from)" ng-click="mc.showDate(dict.message_id)" class="mt-2 float-right col-md-8 text-center" style="word-break: break-all; background-color: #F5F5F5; cursor: pointer;">
                <h5>{{dict.content}}</h5>
                <h5 ng-if="dict.showDate">{{dict.date_created}}</h5>
            </div>
        </div>

        <div class="offset-md-1 col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <label for="newMessage">New message: </label>
                    <textarea ng-model="mc.newMessage.content" class="form-control" id="newMessage" rows="3"></textarea>
                </div>
                <div class="mt-5 col-md-2">
                    <button type="button" ng-click="mc.sendNewMessage()" class="btn btn-light btn-block"><i class="far fa-paper-plane"></i></button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
    <div class="container fixed-bottom">
        <div class="col-md-3">
            <button type="button" ng-click="mc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
        </div>
        <div class="col-md-3">
            <button type="button" ng-click="mc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>