<div class="container" style="height: 5em;">
    <br>
    <ul class="nav d-flex mb-3">
        <li class="p-2 ml-md-5 mr-auto nav-item">
            <p class="font-weight-bold">{{pc.params.userName}}</p>
        </li>
    </ul>
    <hr>
</div>

<div class="mt-5 row">
    <div class="offset-md-1 col-md-3" style="border-left: 1px solid #F5F5F5;">
        <div class="offset-md-10 col-md-2">
            <button type="button" ng-click="pc.loadMoreComments()" class="btn btn-light btn-block"><i class="fas fa-sync-alt"></i></button>
        </div>
        <div class="col-md-12" style="min-height: 3em;" ng-repeat="dict in pc.lastComments">
            <!-- COMMENTS ON THE LEFT -->
            <div ng-if="!pc.isMine(dict.comment.user_id)" class="mt-2 float-left col-md-8 text-left" style="word-break: break-all;">
                <h6>{{dict.from.username}}:</h6>
            </div>
            <div ng-click="pc.showDate(dict.comment.comment_id)" ng-if="!pc.isMine(dict.comment.user_id)" class="mt-2 float-left col-md-8 text-center;" style="word-break: break-all; background-color: lavender; cursor: pointer;">
                <h5>{{dict.comment.content}}</h5>
                <h5 ng-if="dict.showDate">{{dict.comment.date_updated}}</h5>
            </div>                
            <!------------------------>

            <!-- COMMENTS ON THE RIGHT -->
            <div ng-click="pc.showDate(dict.comment.comment_id)" ng-if="pc.isMine(dict.comment.user_id)" class="mt-2 float-right col-md-8 text-center" style="word-break: break-all; background-color: #F5F5F5; cursor: pointer;">
                <h5>{{dict.comment.content}}</h5>
                <h5 ng-if="dict.showDate">{{dict.comment.date_updated}}</h5>
            </div>
            <!------------------------>
        </div>

        <div class="offset-md-1 col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <label for="newComment">Comment: </label>
                    <textarea ng-model="pc.newComment.content" class="form-control" id="newComment" rows="3"></textarea>
                </div>
                <div class="mt-5 col-md-2">
                    <button type="button" ng-click="pc.sendNewComment()" class="btn btn-light btn-block"><i class="far fa-paper-plane"></i></button>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="col-md-8">    
        <div class="mb-5 offset-md-1 col-md-10">
            <div class="col-md-12" style="border-left: 1px solid #F5F5F5; border-right: 1px solid #F5F5F5; line-height: 50em; text-align: center;">
                <h4 ng-click="pc.goToProfile()" style="cursor: pointer;">user: {{pc.foundPersonName}}</h4>
                <h5>time: {{pc.post.date}}</h5>
                <h5>{{pc.post.data.caption}}</h5>
                <h5 ng-click="pc.showLocation(pc.post.data.latitude, pc.post.data.longitude)" style="cursor: pointer;">show location</h5>
                <img src="{{pc.post.path}}/{{pc.post.urls[pc.post.show]}}" class="rounded" alt="format nije dobar" style="display: inline; max-height: 40em; max-width: 80%; cursor: pointer;">                
                <div class="row col-md-12">
                    <div ng-if="!pc.isLiked" class="offset-md-8 col-md-3">
                        <button ng-click="pc.likePost(pc.post.data.post_id)" type="button" class="btn btn-light btn-block"><i class="far fa-heart"></i></button>
                    </div>
                    <div ng-if="pc.isLiked" class="offset-md-8 col-md-3">
                        <button ng-click="pc.dislikePost(pc.post.data.post_id)" type="button" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
                    </div>
                </div>
                <hr class="offset-md-7 col-md-3">
                <div class="row col-md-12" ng-if="!pc.post.onePage">
                    <div class="offset-md-3 col-md-3">
                        <button type="button" ng-click="pc.changePic('toLeft')" class="btn btn-light btn-block"><i class="fas fa-chevron-left"></i></button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" ng-click="pc.changePic('toRight')" class="btn btn-light btn-block"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr class="col-md-10" ng-if="!pc.post.onePage">
            </div>
        </div>
        
        <div class="container fixed-bottom">
            <div class="col-md-3">
                <button type="button" ng-click="pc.goExplore()" class="btn btn-light btn-block"><i class="fas fa-home"></i></button>
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="pc.goSearch()" class="btn btn-light btn-block"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="pc.goEvents()" class="btn btn-light btn-block"><i class="fas fa-heart"></i></button>
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="pc.goUser()" class="btn btn-light btn-block"><i class="fas fa-user"></i></button>
            </div>
        </div>
    </div>
</div>


