<div>
    <div class="row">
        <div class="col-md-5">
            <p>Naziv: {{rkc.trazenaKomponenta.naziv}}</p>
            <p>Opis: {{rkc.trazenaKomponenta.opis}}</p>
            <p>Cena: {{rkc.trazenaKomponenta.cena}}</p>
            <p>Lager: {{rkc.trazenaKomponenta.na_lageru}}</p>
        </div>
        <div class="col-md-7">
            <form ng-submit="rkc.izmeniKomponentu()">
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" ng-model="rkc.izmenjenaKomponenta.naziv" required>
                </div>
                <div class="form-group">
                        <label for="opis">Kratak opis: </label>
                        <input type="text" class="form-control" name="opis" id="opis" placeholder="Unesite kratak opis" ng-model="rkc.izmenjenaKomponenta.opis">
                    </div>
                <div class="form-group">
                    <label for="cena">Cena: </label>
                    <input type="number" class="form-control" name="cena" id="cena" value="0" min="0" ng-model="rkc.izmenjenaKomponenta.cena">
                </div>
                <div class="form-group">
                        <label for="na_lageru">Na lageru: </label>
                        <input type="number" class="form-control" name="na_lageru" id="na_lageru" value="0" min="0" ng-model="rkc.izmenjenaKomponenta.na_lageru">
                    </div>
                <button type="submit" class="btn btn-primary">zabelezi izmenu</button>
            </form>
        </div>
    </div>
</div>