<div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">R. br.</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">Kolicina</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Akcija</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stavka in mc.roba" ng-class="{'text-danger': stavka.kolicina < 100}">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{stavka.naziv}}</td>
                        <td>{{stavka.kolicina}}</td>
                        <td>{{stavka.opis}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="mc.ukloniRobu(stavka.id)">obrisi</button>
                            <a ui-sref="stavka({id: stavka.id})" class="btn btn-primary">detaljnije</a>
                            <a ui-sref="stavka({id: stavka.id})" class="btn btn-primary">izmeni</a>
                            <!-- <a ui-sref="stavke" class="btn btn-primary">detaljnije</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <form ng-submit="mc.dodajRobu()">
                <label for="">Dodaj stavku: </label><br>
                <div class="form-group">
                    <label for="naziv">Naziv: </label>
                    <input type="text" class="form-control" name="naziv" id="naziv" aria-describedby="naziv" placeholder="Unesite naziv" ng-model="mc.novaRoba.naziv" required>
                </div>
                <div class="form-group">
                    <label for="kolicina">Kolicina: </label>
                    <input type="number" class="form-control" name="kolicina" id="kolicina" value="0" min="0" ng-model="mc.novaRoba.kolicina">
                </div>
                <div class="form-group">
                    <label for="opis">Kratak opis: </label>
                    <input type="text" class="form-control" name="opis" id="opis" placeholder="Unesite kratak opis" ng-model="mc.novaRoba.opis">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj</button>
                <hr>
            </form>
        </div>
    </div>
</div>