<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <ng-include src=" 'parts/menu-sidebar.html' "></ng-include>

    <div class="container">
      <div class="col-md-4 col-md-offset-4" ng-hide="vm.autorizovan">
        {{vm.message}}
      </div>

      <ol class="breadcrumb" ng-show="vm.autorizovan">
        <li><a href="#">Home</a></li>
      </ol>

      <div class="col-md-8 col-md-offset-2" ng-show="vm.autorizovan">

        <ul class="list-group">
          <li class="list-group-item"><a href="studenti.html">Studenti</a></li>
          <li class="list-group-item">Nastavnici</li>
          <li class="list-group-item">Predmeti</li>
          <li class="list-group-item">Prijave ispita</li>
        </ul>

      </div>
    </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <script src="main.js"></script>

  </body>
</html>
