<!DOCTYPE html>
<html>
<head>
    <title>Forma Recepta</title>
    <meta charset="UTF-8">
    <script>
        function radi(){
            var naslov = document.getElementById("naslov").value;
            document.getElementById("naslovRecepta").setAttribute("value", naslov);
        }
    </script>
</head>
<body>
    <form action="/dodajRecept" method="POST">
        <label for="naslov">Naslov recepta:</label> <input type="text" id="naslov" name="naslov" required> <br>
        <label for="tekst">Opis pripreme:</label> <input type="text" id="tekst" name="tekst" required> <br>
        <input type="submit" name="submitRecept" id="submitRecept" value="Unesi recept"> <br>
    </form>
    <br>
    <form action="/dodajSastojak" method="POST">
        <input required type="text" id="naslovRecepta" name="naslovRecepta" hidden> <br>
        <label for="sastojak">Sastojak:</label> <select name="sastojak" id="sastojak">
            {% for sastojak in sastojci %}
            <option value="{{sastojak}}">{{sastojak}}</option>
            {% endfor %}
        </select> <br>
        <label for="kolicina">Kolicina sastojka u gramima:</label> <input type="text" id="kolicina" name="kolicina" value=0> <br>
        <input onclick="radi()" type="submit" name="submitSastojak" id="submitSastojak" value="Dodaj sastojak">
    </form>
    
</body>
</html>