<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izmena Recepta</title>
</head>
<body>
    <form action="/izmeni/{{index}}" method="POST">
        <label for="naslov">Naslov recepta:</label> <input type="text" id="naslov" name="naslov" value="{{recept['naziv']}}"> <br>
        <label for="tekst">Opis pripreme:</label> <input type="text" id="tekst" name="tekst" value="{{recept['opis']}}"> <br>
        <input type="submit" name="submitRecept" id="submitRecept" value="Izmeni recept"> <br>
    </form>
    
</body>
</html>