<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepti</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Naziv recepta</th>
                <th>Opis</th>
                <th>Sastojci</th>
                <th>Obrisi</th>
                <th>Izmeni</th>
            </tr>
        </thead>

        <tbody>
            {% for recept in recepti %}
            {% if recept["aktivan"] %}
            <tr>
                <td>{{recept["naziv"]}}</td>
                <td>{{recept["opis"]}}</td>
                {% if recept["sastojci"]!=[] %}
                {% for sastojak in recept["sastojci"] %}
                <td>{{sastojak["ime"] + ": " + sastojak["grami"] + "grama;"}}</td>
                {% endfor %}
                {% else %}
                <td>Nema sastojaka</td>
                {% endif %}
                <td><a href="/ukloniRecept/{{loop.index-1}}">ukloni</a></td>
                <td><a href="/izmenaRecepta/{{loop.index-1}}">izmeni</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>