<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <title>Pocetna</title>
</head>
<body>

    <div class="container" ng-app="app" ng-controller="MyCtrl as mc">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">R. br.</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Kolicina</th>
                    <th scope="col">Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stavka in mc.stavke" ng-class="{'text-danger': stavka.kolicina < 50}">
                    <!-- $index broji od 0 -->
                    <td>{{$index+1}}.</td>
                    <td>{{stavka.naziv}}</td>
                    <td>{{stavka.kolicina}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="mc.ukloniStavku($index)">Ukloni</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="offset-md-4 col-md-4">
            <form ng-submit="mc.dodajStavku()">
                <div class="form-group">
                    <label for="nazivStavke"></label>
                    <input ng-model="mc.novaStavka.naziv" type="text" class="form-control" id="nazivStavke" aria-describedby="nazivStavke" placeholder="Naziv stavke" required>
                </div>
                <div class="form-group">
                    <label for="kolicina"></label>
                    <input ng-model="mc.novaStavka.kolicina" type="number" class="form-control" id="kolicina" min="0" value="0" placeholder="Kolicina">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Dodaj">
            </form>
        </div>
    </div>

    <script src="scripts\jquery-3.3.1.min.js"></script>
    <script src="scripts\popper.min.js"></script>
    <script src="scripts\bootstrap.bundle.min.js"></script>

    <script src="scripts\angular.min.js"></script>
    <script src="app\app.js"></script>
    <script src="app\magacinCtrl.js"></script>
</body>
</html>